@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


#navigation-bar {
  background-color: #5C80BC;
  color: #DCE0D9;
  /* height: 4em; */
}

#name-container{
  text-align: Left;
  font-weight: 1000;
  vertical-align: middle;
  margin-top: auto;
  margin-bottom: auto;

}

.activeSection{
  color: red;
}

.inactiveSection{
  color: black;
}

#sections-container{
  background:#032B43; 
  color: #DCE0D9;
}

.pagesParentContainer{
  margin-left: 2em !important;
  margin-right: 2em !important;
  margin-bottom: 2em !important;
  text-align:left !important;
  
}

.pageHeader{
  margin-top: 2em;
  margin-bottom: -1em;
}

#about-container{
  text-align: left;
  margin-left: 2em;
  margin-right: 2em;

}

.aboutTextSection{
  margin-top: 2em;
  margin-bottom: 2em;
  font-weight: 500;
  font-size:medium;

}

#about-image-section{
  text-align: center;
}

#contact-form-row{
  margin-left: 2em;
  margin-right: 2em;
  margin-top: 2em;
  margin-bottom: 2em;
}

#contact-container{
  height: 100vh
}

#submit-contact-button{
  margin-top: 1em;
  margin-bottom: 1em;
}

.errorContainer{
  width: 100%;
  margin-top: 1em;
  margin-bottom: 1em;
}

#footer-container{
  background:#032B43;
  padding-bottom: 2em;
  text-align: center;
}

.socialFooterIconContainer{
  padding-left: 2em;
  padding-right: 2em;
}

#resume-section-description{
  margin-top: 2em;
  margin-bottom: 2em;
}

.resumeSkillTables{
  margin-top: 1em;
  margin-bottom: 1em;
  text-align: center;
}

.skillTableHeader{
  font-weight: 600;
  color: orange;
}
