body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


#navigation-bar {
  background-color: #5C80BC;
  color: #DCE0D9;
  /* height: 4em; */
}

#name-container{
  text-align: Left;
  font-weight: 1000;
  vertical-align: middle;
  margin-top: auto;
  margin-bottom: auto;

}

.activeSection{
  color: red;
}

.inactiveSection{
  color: black;
}

#about-container{
  text-align: left;
}

.aboutTextSection{
  margin-top: 2em;
  margin-bottom: 2em;
}

#about-image-section{
  text-align: center;
}
